html
	head
		block vars
		title #{title}

		// General metadata
		meta(name='description', content='Research Survey')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name="viewport", content="width=device-width")

		// Bootstrap CSS
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/datatables.net-bs/css/dataTables.bootstrap.min.css')

		link(rel='stylesheet', href='/style.css')

		block style


	body
		block raw_content
		.containerholder
			br
			br
			.container
				h1.page-header #{title}
				if title
					hr
				block content
			script(src="/jquery/dist/jquery.min.js")
			script(src="/bootstrap/dist/js/bootstrap.min.js")
			script(src="/jquery-validation/dist/jquery.validate.min.js")
			script(src="/script.js")
			block scripts