extends boilerplate.pug

block vars
    - var title = "Thank you!"

block content
    p Thank you for participating in this research survey. The results of the research this survey is associated with will be downloadable at #[a(href="/results") this link] within the next couple of months.
    